# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# LibrePCB files
.autosave/
.backup/
user/
*.user.lp
.lock
*~

# Files created by operating systems or file managers
.DS_Store
Thumbs.db

# Files created by other applications
*.autosave
*.swp
*.tmp


# Custom files
**/include/wifi_creds.h